<h1>Hello <%= @user.username %>!</h1>

<h1>Created Events</h1>

<ul>
  <% @events.each do |event| %>
  <li>
    <% if event.creator_id == current_user.id %>
    <%= link_to event.name, event %>
    <% end %>
  </li>
  <% end %>
</ul>

<h2>List of Attended Events</h2>
<ul>
  <% current_user.attended_event_ids.each do |attended_id| %>
  <% @events.each do |event| %>
  <% if event.id == attended_id %>
  <li>
    <%= link_to event.name, event %>
  </li>
  <% end %>
  <% end %>
  <% end %>
</ul>

<div>
  <%= link_to "New Event", new_event_path %>
</div>
<div>
  <%= link_to "List of Events", events_path %>
</div>
<div>
  <%= link_to "Home", root_path %>
</div>
